<article class="cellar">
  <article class="owner">
  	<h2>My Cellar</h2>
    <h3 class="owner-name"><%= @cellar.keeper.username %></h3>
    <dl class="owner-details">
      <dt>Email: </dt><dd><%= @cellar.keeper.email %></dd>
    </dl>
    <button class="btn btn-small btn-primary">Add a Beer</button>
    <button class="btn btn-small btn-primary">Share</button>
  </article>

  <!--<article class="brews">
    <ul>
      <% for brew in @cellar.stocked_brews %>
        <li class="brew"><%= link_to brew.brewery.name, brew.brewery %>,
          <%= link_to brew.name, brew %> [<%= brew.beers.size -%>]
          <%= link_to "Details", user_brew_path(@cellar.keeper, brew), class: "btn" %>
        </li>
      <% end %>
    </ul>
  </article>-->
  
  <article class="brews">
    <fieldset class="beers-stocked">
	  <legend>Cellared Beers</legend>
	  <table class="table table-striped table-condensed">
	    <thead>
	      <tr>
	        <th>Brewery</th>
	        <th>Beer</th>
	        <th>Quantity</th>
	        <th>Cellared on</th>
	      </tr>
	    </thead>
	    <tbody>
	      <% for brew in @cellar.stocked_brews %>
	        <tr class="beer">
	          <td><%= link_to brew.brewery.name, brew.brewery %></td>
	          <td><%= link_to brew.name, brew %></td>
	          <td style="text-align: center;"><%= brew.beers.size -%></td>
	          <td></td>
	          <td>
	             <%= link_to "Details", user_brew_path(@cellar.keeper, brew), class: "btn" %>
	          </td>
	        </tr>
	      <% end %>
	    </tbody>
	  </table>
	</fieldset>
  </article>
</article>
