<article class="cellar">
  <article class="owner">
    <h2 class="owner-name"><%= @cellar.keeper.username %></h2>
    <dl class="owner-details">
      <dt>Email: </dt><dd><%= @cellar.keeper.email %></dd>
    </dl>
  </article>

  <article class="brews">
    <ul>
      <% for brew in @cellar.stocked_brews %>
        <li class="brew"><%= link_to brew.brewery.name, brew.brewery %>,
          <%= link_to brew.name, brew %> [<%= brew.beers.size -%>]
          <%= link_to "Details", user_brew_path(@cellar.keeper, brew), class: "btn" %>
        </li>
      <% end %>
    </ul>
  </article>
</article>
