<div>
  <h1><%= @brew.name %></h1>
  <h5>By <%= link_to @brew.brewery.name, @brew.brewery %></h5>

  <%= form_for @brew, html: { class: "form-stacked" } do |f| %>
    <label>Name: <%= f.text_field :name, class: 'span8' %></label>
    <label>Series: <%= f.text_field :series, class: 'span8' %></label>
    <label>ABV: <%= f.text_field :abv, class: 'span2' %></label>
    <label>IBU: <%= f.text_field :ibu, class: 'span2' %></label>
    <label>Description: <%= f.text_area :description, class: 'span8' %></label>

    <%= f.submit "Save", id: 'save_brew', class: 'btn primary' %>
  <% end %>
</div>

