<div>
  <h1>Add a brew</h1>

  <%= form_for @brew, html: { class: "form-stacked" } do |f| %>
    <label>Brewery: <%= f.collection_select :brewery_id, Brewery.all, :id, :name,
                                            {include_blank: true}, autofocus: true %></label>
    <label>Name: <%= f.text_field :name, class: 'span8' %></label>
    <label>Series: <%= f.text_field :series, class: 'span8' %></label>
    <label>ABV: <%= f.text_field :abv, class: 'span2' %></label>
    <label>Description: <%= f.text_area :description, class: 'span8' %></label>

    <%= f.submit "Add it!", id: 'add_brew', class: 'btn primary' %>
  <% end %>
</div>
