<h2><%= @brew.name %></h2>

<dl class='brew-details'>
  <dt class="span2">By</dt><dd><%= link_to @brew.brewery.name, @brew.brewery, title: @brew.brewery.name %></dd>
  <dt class="span2">Series: </dt><dd><%= @brew.series %>&nbsp;</dd>
  <dt class="span2">ABV: </dt><dd><%= @brew.abv %></dd>
</dl>

<p>Have a few of these beers? <%= link_to "Cellar them!", new_beer_path, class: 'btn' %></p>
