<h2><%= @brew.name %></h2>
<h5>By <%= link_to @brew.brewery.name, @brew.brewery %></h5>
</br>
<div class="row-fluid">
  <div class="span3">
    <a href="#"><img src="http://placehold.it/256x256" alt="Beer Label" class="beerlabel"></a>
  </div>
  <div class="span6">
    <dl class='brew-details'>
      <dt>ABV: </dt><dd><%= @brew.abv %></dd>
      <dt>IBU: </dt><dd><%= @brew.ibu %></dd>
      <dt>Description: </dt><dd class="description"><%= @brew.description %></dd>
    </dl>
    </br>
    <p>
      <%= link_to "Cellar them!", new_beer_path(brew: @brew), class: 'btn btn-primary' %>
      <%= link_to "Edit", edit_brew_path(@brew), class: 'btn', id: 'edit_brew' %>
    </p>
  </div>
  <div class="span3 widget">
    <h3>Other Brews</h3>
    List of other brews by this brewery 
    <ul>
      <li>Brew One</li>
      <li>Brew Two</li>
    </ul>
  </div>
</div>
