<h2><%= @brew.name %></h2>

<div class="row">
  <h5 class="span6"><%= render partial: @brew.breweries, spacer_template: 'breweries/brewery_spacer' %></h5>
</div>

<div class="row">
    <dl class='brew-details'>
      <dt class="span2">Style: </dt><dd><%= @brew.style.name %></dd>
      <dt class="span2">ABV: </dt><dd><%= @brew.abv %>%</dd>
      <dt class="span2">IBU: </dt><dd><%= @brew.ibu %></dd>
    </dl>
</div>

<div class="row-fluid">
  <div class="span3">
    <a href="#"><img src="http://placehold.it/256x256" alt="Beer Label" class="beerlabel"></a>
    <p class="small"><b>Description:</b></br> <%= @brew.description %></p>
  </div>

  <div class="span9">
    <fieldset class="beers-cellared">
      <legend>In your cellar</legend>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>Edit</th>
            <th>Batch</th>
            <th>Bottled on</th>
            <th>Best by</th>
            <th>Cellared on</th>
          </tr>
        </thead>
        <tbody>
          <% for beer in @beers %>
            <tr class="beer">
              <td><%= link_to edit_cellar_beer_path(beer.user, beer), alt: 'edit' do %>
                  <img src="/assets/edit_icon_12.gif" alt="Edit">
                <% end %>
              </td>
              <td><%= beer.batch %></td>
              <td><%= beer.bottled_on %></td>
              <td><%= beer.best_by %></td>
              <td><%= beer.created_at %></td>
              <td>
                <%= form_tag drink_cellar_beer_path(beer.user, beer), method: :put do %>
                  <%= submit_tag "Drink", class: "btn btn-primary" %>
                <% end %>
              </td>
            </tr>
          <% end %>
          <% if @beers.empty? %>
            <tr class="no-beer">
              <td colspan="4">
                You don't have any <%= @brew.name %> in you cellar.
                <%= link_to "Stock one now!", new_beer_path(brew: @brew) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </fieldset>
  </div>
</div>

<div class="clearfix"></div>
