<h2><%= @beer.brew.name %></h2>

<dl class='beer-details'>
  <dt class="span2">By</dt><dd><%= link_to @beer.brew.brewery.name, @beer.brew.brewery, title: @beer.brew.brewery.name %></dd>
  <dt class="span2">Batch: </dt><dd><%= @beer.batch %></dd>
  <dt class="span2">Born on: </dt><dd><%= @beer.born_on %>&nbsp;</dd>
  <dt class="span2">Best by: </dt><dd><%= @beer.best_by %></dd>
  <dt class="span2">Inventory: </dt><dd><%= @beer.inventory %></dd>
  <dt class="span2">Description: </dt><dd><%= @beer.description %></dd>
</dl>

<p>
  <%= link_to 'Edit', edit_beer_path(@beer), class: 'btn', id: 'edit_beer' %>
</p>
