<h2><%= @beer.brew.name %></h2>
<h5>By <%= render partial: @beer.brew.breweries, spacer_template: 'breweries/brewery_spacer' %></h5>

<%= form_for @beer, url: cellar_beer_path(@beer.user, @beer) do |f| %>
  <%= render partial: 'beers/fields', locals: { fb: f } %>
  <%= f.submit 'Save', id: 'update_beer', class: 'btn btn-primary' %>
<% end %>

