<h2><%= @beer.brew.name %></h2>

<dl class='beer-details'>
  <dt class='span2'>By</dt><dd><%= render partial: @beer.brew.breweries, spacer_template: 'breweries/brewery_spacer' %></dd>
  <dt class='span2'>Batch: </dt><dd><%= @beer.batch %></dd>
  <dt class='span2'>Bottled on: </dt><dd><%= @beer.bottled_on %>&nbsp;</dd>
  <dt class='span2'>Best by: </dt><dd><%= @beer.best_by %></dd>
</dl>

<p>
  <%= link_to 'Edit', edit_cellar_beer_path(@beer.user, @beer), class: 'btn', id: 'edit_beer' %>
</p>
